<!-- HEADER ============================================= -->
<header id="header" class="header tra-menu navbar-light">
    <div class="header-wrapper">


        <!-- MOBILE HEADER -->
        <div class="wsmobileheader clearfix">	  	
            <span class="smllogo"><img src="{{ theme_path }}/images/logo-01.png" width="170" height="50" alt="mobile-logo"/></span>
            <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>	
        </div>


        <!-- NAVIGATION MENU -->
        <div class="wsmainfull menu clearfix">
            <div class="wsmainwp clearfix">


                <!-- LOGO IMAGE -->
                <!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 340 x 100 pixels) -->
                <div class="desktoplogo"><a href="/" class="logo-black"><img src="{{ theme_path }}/images/logo1.jpg" width="170" height="50" alt="header-logo"></a></div>
                <div class="desktoplogo"><a href="/" class="logo-white"><img src="{{ theme_path }}/images/logo1.jpg" width="170" height="50" alt="header-logo"></a></div>


                <!-- MAIN MENU -->
                <nav class="wsmenu clearfix">
                    <ul class="wsmenu-list">


                        <!-- DROPDOWN MENU -->
                        <li aria-haspopup="true"><a href="#">About Us <span class="wsarrow"></span></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true"><a href="#about-4">Why Iris Lash</a></li>
                                <li aria-haspopup="true"><a href="#pricing-1">Our Best Deals</a></li>	      
                            </ul>
                        </li>	<!-- END DROPDOWN MENU -->


                        <!-- MEGAMENU -->
                        <li aria-haspopup="true"><a href="#">Services <span class="wsarrow"></span></a>
                            <div class="wsmegamenu w-70 clearfix">
                                <div class="container">
                                    <div class="row">

                                        <!-- MEGAMENU LINKS -->
                                        <ul class="col-md-12 col-lg-4 link-list">
                                            <li class="title txt-color-01"><p>Eyelash Extension</p></li>
                                            <li class="fst-li"><a href="#">Classic & Hybrid Set</a></li>
                                            <li><a href="#">Volume & Mega Volume Set</a></li>
                                            <li><a href="#">Russian Volume</a></li>
                                            <li><a href="#">Glam set & Luxury Volume</a></li>		                             
                                        </ul>

                                        <!-- MEGAMENU LINKS -->
                                        <ul class="col-md-12 col-lg-4 link-list">
                                            <li class="title txt-color-01"><p>Threading</p></li>
                                            <li class="fst-li"><a href="#">EyeBrows Threading</a></li>					                 
                                            <li><a href="#">EyeBrows Ting</a></li>
                                            <li><a href="#">Lamination</a></li>
                                            <li><a href="#">Eyecurl</a></li>			              
                                        </ul>
    
                                    </div>  <!-- End row -->	
                                </div>  <!-- End container -->	
                            </div>  <!-- End wsmegamenu -->	
                        </li>	<!-- END MEGAMENU -->



                        <!-- SIMPLE NAVIGATION LINK -->
                        <li class="nl-simple" aria-haspopup="true"><a href="/contact">Contact</a></li> 


                        <!-- HEADER CALL BUTTON -->
                        <li class="nl-simple header-phone" aria-haspopup="true">
                            <a href="tel:123456789"><span class="bg-color-09 white-color"><i class="fas fa-phone"></i></span>929.476.7937</a>
                        </li> 


                        <!-- HEADER BUTTON 
                        <li class="nl-simple" aria-haspopup="true">
                            <a href="#" class="btn btn-color-02 tra-01-hover last-link">Book Now</a>
                        </li> -->

                        <li class="nl-simple txt-color-03 header-socials clearfix" aria-haspopup="true">
                            <span><a href="#" class="ico-facebook"><i class="fab fa-facebook-f"></i></a></span>
                            <span><a href="#" class="ico-twitter"><i class="fab fa-twitter"></i></a></span>
                            <span><a href="#" class="ico-instagram"><i class="fab fa-instagram"></i></a></span>
                            <span><a href="#" class="ico-dribbble"><i class="fab fa-yelp"></i></a></span>	
                        </li>


                    </ul>
                </nav>	<!-- END MAIN MENU -->

            </div>
        </div>	<!-- END NAVIGATION MENU -->


    </div>     <!-- End header-wrapper -->
</header>	<!-- END HEADER -->