<section id="pricing-1" class="bg-color-01 wide-60 pricing-section division">
    <div class="container">


        <!-- SECTION TITLE -->	
        <div class="row">	
            <div class="col-lg-10 offset-lg-1">
                <div class="section-title mb-60 text-center">	

                    <!-- Transparent Header -->	
                    <h2 class="tra-header txt-color-02">Best Deal</h2>	

                    <!-- Title 	-->	
                    <h3 class="h3-xl txt-color-01">Our Service & Pricing</h3>	

                    <!-- Text -->	
                    <p class="p-lg txt-color-05">Please select the package you want and book your Appointment. Please call us at <a href="tel:929.476.7937">929.476.7937</a> for more information or go to our booking page.</p>
                        
                </div>	
            </div>
        </div>


        <!-- PRICING TABLES WRAPPER -->
        <div class="pricing-wrapper">
            <div class="row">


                <div class="col-lg-6">
                    <div class="pricing-1-table">
                        <ul class="pricing-list">

                            <li class="pricing-list-txt">
                                <h5 class="h5-md txt-color-01">Classic Set</h5>
                                <p class="txt-color-05">60 Minute Session Packages</p>
                                <h4 class="h4-xs pricing-list-amount txt-color-01">$80</h4>
                            </li>

                            <li class="pricing-list-txt">
                                <h5 class="h5-md txt-color-01">Hybrid Set</h5>
                                <p class="txt-color-05">60 Minute Session Packages</p>
                                <h4 class="h4-xs pricing-list-amount txt-color-01">$100</h4>
                            </li>

                            <li class="pricing-list-txt">
                                <h5 class="h5-md txt-color-01">Volume Set</h5>
                                <p class="txt-color-05">90 Minute Session Packages</p>
                                <h4 class="h4-xs pricing-list-amount txt-color-01">$110</h4>
                            </li>

                            <li class="pricing-list-txt">
                                <h5 class="h5-md txt-color-01">Mega Volume Set</h5>
                                <p class="txt-color-05">90 Minute Session Packages</p>
                                <h4 class="h4-xs pricing-list-amount txt-color-01">$120</h4>
                            </li>

                            <li class="pricing-list-txt resp-lst">
                                <h5 class="h5-md txt-color-01">Glam Set Volume</h5>
                                <p class="txt-color-05">120 Minute Session Packages</p>
                                <h4 class="h4-xs pricing-list-amount txt-color-01">$150</h4>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="pricing-1-table">
                        <ul class="pricing-list">

                            <li class="pricing-list-txt">
                                <h5 class="h5-md txt-color-01">Luxury Volume</h5>
                                <p class="txt-color-05">90 Minute Session Packages</p>
                                <h4 class="h4-xs pricing-list-amount txt-color-01">$120</h4>
                            </li>

                            <li class="pricing-list-txt">
                                <h5 class="h5-md txt-color-01">Russian Volume</h5>
                                <p class="txt-color-05">120 Minute Session Packages</p>
                                <h4 class="h4-xs pricing-list-amount txt-color-01">$130</h4>
                            </li>

                            <li class="pricing-list-txt">
                                <h5 class="h5-md txt-color-01">EyeBrows Threading</h5>
                                <p class="txt-color-05">15 Minute Session Packages</p>
                                <h4 class="h4-xs pricing-list-amount txt-color-01">$10</h4>
                            </li>

                            <li class="pricing-list-txt">
                                <h5 class="h5-md txt-color-01">EyeBrows Tint</h5>
                                <p class="txt-color-05">30 Minute Session Packages</p>
                                <h4 class="h4-xs pricing-list-amount txt-color-01">$30</h4>
                            </li>

                            <li class="pricing-list-txt">
                                <h5 class="h5-md txt-color-01">Lamination</h5>
                                <p class="txt-color-05">30 Minute Session Packages</p>
                                <h4 class="h4-xs pricing-list-amount txt-color-01">$60</h4>
                            </li>
                            
                        </ul>
                    </div>
                </div>


            </div>	<!-- End row -->
        </div>	<!-- END PRICING TABLES WRAPPER -->


    </div>	   <!-- End container -->
</section>	<!-- END PRICING-1 -->